
<mat-toolbar color="primary">
	
	<a class="logo-wrapper" routerLink="/">
		<img
			width="40"
			alt="Angular Logo"
			src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
		/>
		<span>AutoTrader</span>
	</a>

	
	<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
		<mat-icon>more_vert</mat-icon>
	</button>
	<mat-menu #menu="matMenu" xPosition="before">
		<button mat-menu-item>
			<mat-icon>library_books</mat-icon>
			<span routerLink="/catalog" routerLinkActive="active-link">Catalog</span>
		</button>
		<!-- <button mat-menu-item>
			<mat-icon>shopping_cart</mat-icon>
			<span routerLink="/basket" routerLinkActive="active-link">Basket</span>
		</button> -->
		<button mat-menu-item>
			<mat-icon>grading</mat-icon>
			<span routerLink="/orders" routerLinkActive="active-link">Orders</span>
		</button>
		<button mat-menu-item>
			<mat-icon>account_balance_wallet</mat-icon>
			<span routerLink="/balance" routerLinkActive="active-link">Balance</span>
		</button>
		<button mat-menu-item>
			<mat-icon>report</mat-icon>
			<span routerLink="/reports" routerLinkActive="active-link">Reports</span>
		</button>
		<button mat-menu-item>
			<mat-icon>summarize</mat-icon>
			<span routerLink="/news" routerLinkActive="active-link">News</span>
		</button>
		<button mat-menu-item>
			<mat-icon>price_change</mat-icon>
			<span routerLink="/price" routerLinkActive="active-link">Price lists</span>
		</button>
		<button mat-menu-item>
			<mat-icon>room_preferences</mat-icon>
			<span routerLink="/reference" routerLinkActive="active-link">Reference</span>
		</button>
		<button mat-menu-item>
			<mat-icon>room_preferences</mat-icon>
			<span routerLink="/interview" routerLinkActive="active-link">Interview</span>
		</button>
		<button mat-menu-item>
			<mat-icon>room_preferences</mat-icon>
			<span routerLink="/settings" routerLinkActive="active-link">Settings</span>
		</button>
	</mat-menu>

	<button mat-button 
		[matBadge]="countShopingCart" matBadgeSize="large" matBadgeOverlap="true"
		routerLink="/basket" routerLinkActive="active-link">
		<mat-icon>shopping_cart</mat-icon>
	</button>
</mat-toolbar>

<router-outlet></router-outlet>

<footer>
	<mat-toolbar color="primary">@Dmitry Sekhno 2021</mat-toolbar>
</footer>